---
import './id.css'
import productos from '../../data/productos.json';
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return productos.map((producto) => ({
    params: { id: producto.id.toString() },
    props: { producto }
  }))
}

const { producto } = Astro.props;

const urlOriginal = 'https://guerrero-indumentaria.netlify.app'
const mensajeProducto = encodeURIComponent(`${urlOriginal}\n\n\Hola, me gustaría consultar sobre el producto: ${producto.nombre} (${producto.precio})`)
---

<Layout title={producto.nombre}>
  <div class="center">
    <div class="titulo">
      <h1>{producto.nombre}</h1>
    </div>
    <div class="descripcion">
      <img src={producto.imagen} alt={producto.nombre}>
      <div class="details">
        <h2>{producto.precio}</h2>
        <a 
          href={`https://wa.me/5491124050627?text=${mensajeProducto}`}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Consultar por ${producto.nombre} en WhatsApp`}>
            Consultar producto
        </a>
      </div>
    </div>
    <a class="back" href="/">Volver al catálogo</a>
  </div>
</Layout>