---
import './CardProduct.css';
const { id, nombre, precio, imagen, categoria, genero} = Astro.props;

---

<div class="card">
  <a class="clickable" href={`/productos/${id}`}></a>
  <div class="descripcion">
    <img class="imagen-ropa" src={imagen} alt={nombre} />
      <div class="descripcion-texto">
        <h1>{nombre}</h1>
        <h2>{precio}</h2>
      </div>
      
  </div>
</div>
